<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tweepster | Privacy Policy</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha512-MoRNloxbStBcD8z3M/2BmnT+rg4IsMxPkXaGh2zD6LGNNFE80W3onsAhRcMAMrSoyWL9xD7Ert0men7vR8LUZg==" crossorigin="anonymous" />
</head>
<body>
    <div class="container">

        <h2>Overview</h2>
        <p>
Tweepster (The Tweepster application or any of our web services) knows that you care about how your personal information is used and shared, and we take your privacy seriously. This policy describes the types of information collected, how it may and may not be used, and how it is protected.
</p>
<p>
By using Tweepster, you acknowledge that you accept the practices and policies outlined in this Privacy Policy and our use of your information in accordance with this Privacy Policy.
</p>

<h2>Information Collected From Users</h2>
<p>
In the course of using Tweepster, we may collect the IP address of the computer through which your visit is enabled; cookie information; information regarding the pages, links, banners, icons and other parts of Tweepster that are accessed or clicked on during its use; information regarding the date, time, and duration of your visit; and information you may volunteer, e.g., in response to survey requests or as part of a registration. Upon any registration for, and in subsequent interaction with, Tweepster, we may collect mandatory information such as your Name, Password, primary email address, your name, phone number, gender, bank verification number (BVN), credit card information, and/or additional information that could be used (whether alone or in combination with additional information) to identify you personally.
</p>

<p>
A "cookie" is a small line of text that is sent to your browser and stored on your computer when you visit a website. We use a cookie for record-keeping and verification purposes and a cookie helps us provide better service to you. For example, we use a cookie to verify your session and user identification and to track the pages within the Website that you visited. Your browser should have options to accept, reject or provide you with a notice when a cookie is sent. However, if you disable cookies, you may not be able to use the Website Services. Please note that Tweepster does not and cannot read cookies set by other websites.
</p>

<h2>Use of Information Collected</h2>
<p>
The Personal Information we collect from you may be used in one of the following ways:

To improve our Services – we continually strive to improve our Services based on the information and feedback we receive from you.
To improve customer service – your information helps us to more effectively respond to your customer service requests and support needs.
To market to you our products and services (and those of third parties) that we believe may interest you, and to permit third parties to market such products and services to you.
To tailor the content and features of the Services to you.
To improve the quality of the Services.
To administer a contest, promotion, survey or other feature
To send periodic emails.
The email address you provide may be used to send you information, respond to inquiries, and/or other requests or questions.
</p>


<h2>Information security</h2>
<p>
Your security and privacy is our utmost priority. We do not share any of your information with unauthorized persons and adequate safeguards have been put in place to prevent unauthorized access and to ensure confidentiality of your personal information.
</p>


<h2>Third Party Sites</h2>
<p>
We created interfaces that allow you to connect your account for our Services with accounts you may have established with third-party apps, social networks and other services (“Third-Party Services”). These interfaces allow you to authorize us to access your account on a Third-Party Service on your behalf. Once authorized by you, the Third-Party Service recognizes us when we ask, on your behalf, for access to your account information or to post information. You should be able to revoke our access to any Third-Party Service at any time by changing the appropriate settings from within your account settings on the applicable Third-Party Service.
</p>

<p>
Tweepster does not control the privacy policies of third-party apps or service providers to which we connect to. These third-party apps or service providers may use cookies to provide a service based on a user's prior visit. Please be aware that if you click on an ad or third party link, you will be subject to the third party's privacy policy.
</p>

<h2>Changes to our Privacy Policy</h2>
<p>
You agree that Tweepster may amend this policy from time to time by posting the revised Privacy Policy on this Website. Your continued use of any portion of the Tweepster service following the posting of the revised policy will constitute your acceptance of the changes.
</p>


<h2>How to contact us</h2>
<p>
You can contact Tweepster by sending an email to info@gettweepster.xyz
</p>
    </div>

</body>

</html>
